<template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Confirmation</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Delete user {{person.fullName}}?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="c(true)">Yes</button>
    <button type="button" class="btn btn-secondary" (click)="c(false)">No</button>
  </div>
</template>

<div class="container-fluid">
  <div class="panel">
    <div class="panel-body">
      <a routerLink="/search">
        <span class="fa fa-arrow-left" aria-hidden="true"></span>
      </a>
    </div>
  </div>
</div>
<div *ngIf="person">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-2 label">Uid</div>
    <div class="col-9">{{person.uid}}</div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-2 label">Fullname</div>
    <div class="col-9">{{person.fullName}}</div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-2 label">Firstname</div>
    <div class="col-9">{{person.firstName}}</div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-2 label">Lastname</div>
    <div class="col-9">{{person.lastName}}</div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <label class="col-2 label">E-Mail</label>
    <div class="col-9">{{person.email}}</div>
  </div>
</div>
<div class="row">
  <div class="col-3"></div>
  <div class="col-9">
    <button type="button" class="btn btn-secondary btn-sm"
            placement="bottom" ngbTooltip="Edit">
      <span class="card-link fa fa-pencil" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-secondary btn-sm"
            (click)="togglePasswordEdit()"
            placement="bottom" ngbTooltip="Password">
      <span class="card-link fa fa-key" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-secondary btn-sm" (click)="open(content, person)"
            placement="bottom" ngbTooltip="Delete">
      <span class="card-link fa fa-trash" aria-hidden="true"></span>
    </button>
  </div>

</div>

<div *ngIf="passwordEdit">
  <form autocomplete="off" #passwordForm="ngForm"
        (submit)="savePassword()">
    <div class="row pb-4"></div>
    <div class="row pb-2">
      <div class="col-1"></div>
      <div class="col-2 label">Password</div>
      <div class="col-5">
        <input type="password" class="form-control"
               name="password"
               [(ngModel)]="person.password"
               required minlength="3"
               validateEqual="confirmPassword" reverse="true"
               #password="ngModel">
      </div>
    </div>
    <div class="row pb-2">
      <div class="col-1"></div>
      <div class="col-2 label">Confirm Password</div>
      <div class="col-5">
        <input type="password" class="form-control"
               name="confirmPassword"
               [(ngModel)]="confirmPasswordStr"
               required
               validateEqual="password"
               #confirmPassword="ngModel">
      </div>
    </div>

    <div class="row pt-2">
      <div class="col-3"></div>
      <div class="col-9">
        <button type="submit" class="btn btn-success" [disabled]="!passwordForm.form.valid">
          <span class="fa fa-save" aria-label="save password"></span>
        </button>
      </div>
    </div>
  </form>
</div>


