<div class="container-fluid">
  <div class="panel">
    <div class="panel-body">
      <form class="form-inline" autocomplete="off">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><span class="fa fa-search" aria-hidden="true"></span></div>
            <input type="search" class="form-control" id="uid" placeholder="search text"
                   [(ngModel)]="searchStr" name="uid">
          </div>
        </div>
        <button class="btn btn-info" (click)="getPersons(searchStr)">Search</button>
      </form>

    </div>
  </div>
  <div class="panel">
    <div class="panel-body">
      <table class="table">
        <tr *ngFor="let person of persons" (click)="onSelect(person)">
          <td><span class="fa fa-user" aria-hidden="true"></span></td>
          <td>{{person.fullName}}</td>
          <td>{{person.uid}}</td>
          <td>{{person.email}}</td>
          <td>
            <span class="fa fa-cog" aria-hidden="true" role="button" (click)="onSelect(person)"></span>
          </td>
        </tr>
      </table>
      <div *ngIf="collectionSize > pageSize">
        <ngb-pagination
          [(pageSize)]="pageSize"
          [maxSize]="5" [rotate]="true"
          [collectionSize]="collectionSize"
          [(page)]="pageNumber"
          (pageChange)="pageChanged($event)"
          size="sm"></ngb-pagination>
      </div>
    </div>
  </div>
</div>
