<div class="container-fluid">
  <div class="panel">
    <div class="panel-body">
      <form class="form-inline" autocomplete="off">
        <div class="form-group">
          <div class="input-group">
            <input type="search" class="form-control" id="uid" placeholder="search text"
                   [(ngModel)]="searchStr" (ngModelChange)="searchStrChange()" name="uid">
          </div>
        </div>
        <button class="btn btn-info" (click)="getPersons()">
          <span class="fa fa-search" aria-label="search"></span>
        </button>
      </form>

    </div>
  </div>
  <div class="panel mt-2">
    <div class="panel-body">
      <p-table [value]="persons" [autoLayout]="true">
        <ng-template pTemplate="body" let-person>
          <tr>
            <td>
              <div class="person-col" (click)="onSelect(person)">
                <span class="fa fa-user" aria-hidden="true"></span>
              </div>
            </td>
            <td>
              <div class="person-col" (click)="onSelect(person)">{{person.fullName}}</div>
            </td>
            <td>
              <div class="person-col" (click)="onSelect(person)">{{person.uid}}</div>
            </td>
            <td>
              <div class="person-col" (click)="onSelect(person)">{{person.email}}</div>
            </td>
            <td>
              <div class="person-col" (click)="onSelect(person)">
                <span class="person-col fa fa-cog" aria-hidden="true"></span>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <div *ngIf="collectionSize > pageSize">
        <p-paginator [rows]="pageSize"
                     [totalRecords]="collectionSize"
                     (onPageChange)="pageChanged($event)">
        </p-paginator>
      </div>
    </div>
  </div>
</div>
