<div class="container">

  <form class="form-signin" (ngSubmit)="login()" method="post">
    <h4 class="form-signin-heading">Please login</h4>
    <label for="inputEmail" class="sr-only">Username</label>
    <input type="text" id="inputEmail" class="form-control"
           placeholder="Username"
           pInputText
           required autofocus
           name="user"
           [(ngModel)]="username">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control"
           placeholder="Password"
           name="pass"
           required
           [(ngModel)]="password">

    <button class="btn btn-lg btn-primary btn-block" type="submit">
      <span class="fa fa-sign-in" aria-label="login"></span>
    </button>
  </form>
  <div class="alert alert-danger mt-2" *ngIf="loginError">
    Login failed! Please try again.
  </div>

</div> <!-- /container -->

