<nav class="navbar navbar-toggleable-sm"
     [ngClass]="{
    'navbar-inverse' : isLoggedIn(), 'navbar-light': !isLoggedIn(),
    'bg-primary': isLoggedIn(), 'bg-faded': !isLoggedIn()
  }">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="/search">
    <h1 class="navbar-brand mb-0">{{title}}</h1>
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" *ngIf="isAdmin()">
        <a class="nav-link mb-0" routerLink="/add">
          <span class="fa fa-user-plus"></span> Add
        </a>
      </li>
    </ul>
    <div class="navbar-nav" *ngIf="isLoggedIn()">
      <a class="app-nav nav-item nav-link mb-0 a active " (click)="logout()">
        <span class="fa fa-sign-out"></span>
      </a>
    </div>
  </div>
</nav>

<p-growl [value]="msgs"></p-growl>
<div class="card">
  <div class="card-block">
    <router-outlet></router-outlet>
  </div>
</div>
