<div>
  <form autocomplete="off"
        (ngSubmit)="newPerson()" #personForm="ngForm">
    <div class="row pb-2">
      <div class="col-1"></div>
      <div class="col-2 label">Fullname</div>
      <div class="col-5">{{person.fullName}}</div>
    </div>
    <div class="row pb-2">
      <div class="col-1"></div>
      <div class="col-2 label">Uid</div>
      <div class="col-5">
        <input type="text" class="form-control"
               placeholder="uid"
               required minlength="3"
               [(ngModel)]="person.uid" name="uid"/>
      </div>
    </div>
    <div class="row pb-2">
      <div class="col-1"></div>
      <div class="col-2 label">Firstname</div>
      <div class="col-5">
        <input type="text" class="form-control"
               [(ngModel)]="person.addFirstName" name="firstName"/>
      </div>
    </div>
    <div class="row pb-2">
      <div class="col-1"></div>
      <div class="col-2 label">Lastname</div>
      <div class="col-5">
        <input type="text" class="form-control" required
               [(ngModel)]="person.addLastName" name="lastName"/>
      </div>
    </div>
    <div class="row pb-2">
      <div class="col-1"></div>
      <div class="col-2 label">E-Mail</div>
      <div class="col-5">
        <input type="email" class="form-control"
               pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
               [(ngModel)]="person.email" name="email"/>
      </div>
    </div>
    <div class="row pb-2">
      <div class="col-1"></div>
      <div class="col-2 label">Password</div>
      <div class="col-5">
        <input type="password" class="form-control"
               name="password" [(ngModel)]="person.password"
               required minlength="3"
               validateEqual="confirmPassword" reverse="true"
               #password="ngModel">
      </div>
    </div>
    <div class="row pb-2">
      <div class="col-1"></div>
      <div class="col-2 label">Confirm Password</div>
      <div class="col-5">
        <input type="password" class="form-control"
               name="confirmPassword" [(ngModel)]="person.confirmPassword"
               required
               validateEqual="password"
               #confirmPassword="ngModel">
      </div>
    </div>
    <div class="row pt-2">
      <div class="col-3"></div>
      <div class="col-9">
        <button type="submit" class="btn btn-success" [disabled]="!personForm.form.valid">
          <span class="fa fa-user-plus" aria-label="create user"></span>
        </button>
      </div>
    </div>
  </form>
</div>
