<div>
  <form autocomplete="off" [formGroup]="personForm"
        (ngSubmit)="newPerson()" >
    <div class="row pb-2">
      <div class="col-1"></div>
      <div class="col-2 label">Fullname</div>
      <div class="col-5">{{fullName}}</div>
    </div>
    <div class="row pb-2">
      <div class="col-1"></div>
      <div class="col-2 label">Uid</div>
      <div class="col-5">
        <input type="text" class="form-control" formControlName="uid"
               name="uid"/>
      </div>
      <div class="col-3 uid-exists" *ngIf="uid.invalid && uid.errors.uidExists">Uid already exists</div>
    </div>
    <div class="row pb-2">
      <div class="col-1"></div>
      <div class="col-2 label">Firstname</div>
      <div class="col-5">
        <input type="text" class="form-control" formControlName="firstName"
               name="firstName"/>
      </div>
    </div>
    <div class="row pb-2">
      <div class="col-1"></div>
      <div class="col-2 label">Lastname</div>
      <div class="col-5">
        <input type="text" class="form-control" formControlName="lastName"
               name="lastName"/>
      </div>
    </div>
    <div class="row pb-2">
      <div class="col-1"></div>
      <div class="col-2 label">E-Mail</div>
      <div class="col-5">
        <input type="email" class="form-control" formControlName="email"
               name="email"/>
      </div>
    </div>
    <div class="row pb-2">
      <div class="col-1"></div>
      <div class="col-2 label">Password</div>
      <div class="col-5">
        <input type="password" class="form-control"
               name="password" formControlName="password">
      </div>
    </div>
    <div class="row pb-2">
      <div class="col-1"></div>
      <div class="col-2 label">Confirm Password</div>
      <div class="col-5">
        <input type="password" class="form-control"
               name="confirmPassword" formControlName="confirmPassword">
      </div>
    </div>
    <div class="row pt-2">
      <div class="col-3"></div>
      <div class="col-9">
        <button type="submit" class="btn btn-success"
                [disabled]="uidAlreadyFound ||!personForm.valid">
          <i class="fa fa-user-plus" aria-hidden="true"></i> Add
        </button>
        <button type="button" class="btn btn-secondary clear-button" (click)="resetValues()">
          <i class="fa fa-repeat" aria-hidden="true"></i> Clear
        </button>

      </div>
    </div>
  </form>
</div>
